<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "psyfog gallery" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails3 Bootstrap Devise Cancan" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="navbar transparent navbar-inverse">
      <nav class="navbar-inner">
        <div class="container-fluid" style="background-color: rgba(0,0,0,0.4);">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </div>
        <div id="main" role="main">
      <div class="container">
        <div class="content" style="background-color: rgba(0,0,0,0.4);">
           <div class="row">
            <div class="span2"></div>
            <div class="span8"><div class="division-left" style="border-right: 1px dashed #00ffff;">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
            </div>
            <div class="span2" style="background-color: rgba(0,255,255,0.2);"><div class="division-right">Reklama</div></div>
          </div>

<footer style="">
            <div class="row"><div class="span5"></div>
            <div class="span2">новая строка </div><div class="span5"></div>
          </div>
            <div class="row">
              <div class="span2"><p><i class="icon-fire"></i>PSYFOG</p>
                                 <p>Web-design</p></div>
              <div class="span2"><p>_</p><p>_</p></div>
              <div class="span2"><p>Facebook</p>
                                 <p>Vk.com</p></div>
              <div class="span2">
                                 <p>Github</p>
                                 <p>Freelance</p>
              </div>
            </div>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div>
         <!--! end of #main -->
  </body>
</html>
