<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "psyfog gallery" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails3 Bootstrap Devise Cancan" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="navbar transparent navbar-inverse">
      <nav class="navbar-inner">
        <div class="container-fluid" style="background-color: rgba(0,0,0,0.4);">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </div>
        <div id="main" role="main">
      <div class="container-fluid" style="background-color: rgba(0,0,0,0.4);">
        <div class="content-fluid" style="background-color: rgba(0,0,0,0.6);">
           <div class="row">
            <div class="span4">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
